<div class="main">
    <div class="alerta">
        <div class="titulo">
            <span>Eliminar [nombre_materia]</span>
            <i class="fa-solid fa-xmark" style="cursor: pointer;" (click)="cancelar()"></i>
        </div>
        <div class="informacion">¿Estás seguro que deseas eliminar la materia?</div>
        <div class="botones">
            <div class="cancelar" (click)="cancelar()">No</div>
            <div class="confirmar" (click)="confirmar()">Si, eliminar</div>
        </div>
    </div>

</div>