@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.sidenav {
    width: 250px;
    background-color: #6A737C;
    display: flex;
    flex-direction: column;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #F2F2F3;
}
  
.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}
  
.nav-item:hover {
    background-color: #C8CCD0;
    cursor: pointer;
}
  
.nav-item:hover a {
    color: #555A5E;
}
  
.main {
    flex: 1;
    padding: 20px;
    background-color: #F4F4F4;
}

.titulos>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0px;
    color: rgba(85, 85, 85, 1);
    opacity: 1;
}

.buscador{
    height: 87px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 1;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
    padding: 10px; 
}
  
.buscador-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin-left: 10px;
}

.buscador-item>select{
    padding: 10px;
    margin-right: 20px;
    display: flex;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(159, 166, 173, 1);
    border-radius: 3px;
    opacity: 1;
}

.buscador-item>label{
    text-align: left;
    color: rgba(84, 84, 84, 1);
    opacity: 1;
    margin-bottom: 5px;
}

.buscador-item>a{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    color: rgba(0, 156, 222, 1);
    opacity: 1;
    margin-top: 20px;
}

#grado,#grupo{
    width: 100px;
}

.titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.boton{
    border: 2px solid #009CDE;
    border-radius: 5px;
    opacity: 1;
    padding: 8px;
    color: rgba(0, 157, 224, 1);
    cursor: pointer;
}

.boton>i{
    padding-right: 10px;
    color: rgba(0, 157, 224, 1);
}

.botonBuscar {
	background-color:rgba(0, 156, 222);
	border-radius:14px;
	cursor:pointer;
	color:#ffffff;
    width: fit-content;
	padding: 15px 25px;
    text-decoration: none;
    border: 0;
    margin-top: 20px;
}
.botonBuscar:hover {
	background-color:rgba(0, 156, 222);
}

.materias{
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    opacity: 1;
    height: 382px;
    margin-top: 20px;
}

.tabla{
    width: 98%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.tabla>caption{
    text-align: left;
    letter-spacing: 0px;
    color: rgba(85, 85, 85, 1);
    opacity: 1;
    margin: 20px;
    font-size: 18px;
}

.tabla th{
    text-align: left;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    font-weight: 100;
    padding-left: 50px;
    height: 50px;
}

.tabla tr{
    text-align: left;
    opacity: 1;
    height: 50px;
}

.tabla td{
    padding-left: 50px;
    font-size: 14px;
    letter-spacing: 0px;
    color: rgba(44, 44, 44, 1);
    opacity: 1;
}

.icono{
    display: inline;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 5px;
    opacity: 1;
    margin-left: 10px;
    cursor: pointer;
}